.orderElement {
@apply grid items-center border-t-[1px] border-b-[1px] border-[#80808045] py-[1rem] text-gray-700;
grid-template-columns: 4fr 2fr 0.5fr;
}

@media (max-width: 566px) {
.orderElement {
    grid-template-columns: auto;
    grid-template-rows: 2fr 1fr 1fr;
}
}

.orderElement .data {
@apply flex gap-[1.25rem];
}

.orderElement .data .image {
@apply max-w-[5rem];
}

.orderElement .data .textData .name {
@apply text-[1.2rem] font-semibold;
}

@media (max-width: 566px) {
.orderElement .data .textData .name {
    @apply text-[0.875rem];
}
}

.orderElement .data .textData span:first-of-type {
@apply text-[1rem] mt-[6px];
}

.orderElement .data .textData span.quantity,
.orderElement .data .textData span.size {
@apply ml-[1rem] mt-[6px] inline-block text-[1rem] font-normal;
}

.orderElement > button {
@apply cursor-pointer w-max text-[13px] font-medium border border-[#eee] px-[10px] py-[7px] capitalize;
}

.orderPlaced {
@apply flex items-center gap-[10px];
}

.orderPlaced p:first-of-type {
@apply w-[10px] h-[10px] bg-green-500 rounded-full;
}

.orderPlaced p:last-of-type {
@apply text-[1rem] font-medium capitalize;
}