.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage .title span {
    color: rgb(55 65 81) !important;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 500 !important;
}

.loginPage .content {
    @apply w-[90%] sm:w-[400px];
}

.loginPage .content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginPage .content form input {
    padding: 10px;
    border: 1.5px solid black;
}

.loginPage .content form input::placeholder {
    text-transform: capitalize;
}

.loginPage .content form .buttons {
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
}

.loginPage .content form .buttons .sign {
    text-transform: capitalize;
    cursor: pointer;
}

.loginPage .content form .buttons .forget {
    text-transform: capitalize;
    cursor: pointer;
}

.loginPage .content form > button {
    color: white;
    background-color: black;
    width: fit-content;
    margin: 10px auto;
    padding: 7px 20px;
    text-transform: capitalize;
    font-size: .875rem;
}