.collectionPage .search {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    width: 100%;
}

.collectionPage .search img {
    max-width: 1rem;
}

.collectionPage .search img:last-child {
    translate: -8px;
    cursor: pointer;
}

.collectionPage .search img:first-of-type {
    translate: -35px 0;
}

.collectionPage .search input {
    width: 60%;
    padding: 5px 18px;
    border-radius: 23px;
    border: 1.5px solid gray;
    padding-right: 50px;
    outline: none;
}